* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: auto;
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.fa {
  color: white;
  margin: 0.3rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.fa:hover {
  color: #7a1f42;
}

.main-content {
  transition: margin-left 0.5s ease;
}


.sidebar-expanded {
  margin-left: 220px;
}

.section-p1 {
  padding: 0px 150px 0px 150px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease;
}

.section-p1 h2 {
  text-align: left;
  font-size: 2.5rem;
}

.section-p1 p {
  font-size: 1.1rem; 
  text-align: left;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;
  color: white;
  font-size: 1rem;
}
footer p {
  font-size: 15px;
  margin: 0 0 8px 0;
}
footer a {
  font-size: 15px;
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}
footer a:hover {
  color: #088178;
}

.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 30%;
  bottom: 30%;
  left: 30px;
  width: 50px;
  overflow: hidden;
  gap: 20px;
  z-index: 10;
  transition: width 1s ease;
}

.side-bar:hover {
  width: 220px;
  transition: width 1s ease;
}

.side-bar-item {
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
  padding: 0px 0px 0px 5px;
  border-left: lightgrey 2px solid;
  transition: height 0.5s ease, border-color 0.3s ease;
}

.side-bar-item:hover {
  border-left: lightgray 3px solid;
  overflow: visible;
  white-space: normal;
  height: 80px;
  transition: height 0.5s ease, border-color 0.3s ease;
}

.side-bar-item-current {
  padding: 0px 0px 0px 5px;
  border-left: black 3px solid;
  height: 80px;
  transition: height 0.5s ease, border-color 0.3s ease;
}

.side-bar-item a h3 {
  position: relative;
  left: -300px;
  font-size: 1.2rem;
  color: rgb(196, 196, 196);
  margin: 0;
  padding: 10px 0;
  transition: color 0.3s ease, transform 0.3s ease,  left 1s ease;
}

.side-bar-item-current a h3 {
  position: relative;
  left: -300px;
  font-size: 1.2rem;
  color:#000;
  transform: scale(1.1);
  margin: 0;
  padding: 10px 0;
  transition: color 0.3s ease, transform 0.5s ease, left 1s ease;
}

.side-bar:hover > .side-bar-item a h3, .side-bar:hover > .side-bar-item-current a h3{
  left: 0px;
  transition: left 1s ease, color 0.3s ease, transform 0.5s ease;
}

.side-bar-item:hover h3 {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.side-bar-item:active h3 {
  color: lightblue;
}

.side-bar-item a {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.side-bar-item-current a {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.card {
  border-radius: 20px;
  transition: .3s ease;
  height: 50vh;
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card-background {
  flex: 1 1 auto;
  width : auto;
  height: 100%;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  transition: transform .3s ease;
}

.background {
  position: absolute;
  top: 0;
  right: 0; 
  height: 1080px;
  width: 1920px;
  z-index: 15;
  background-size: cover;
  transition: transform .3s ease;
}

.title{
  text-align:left;
  font-size:10rem;
  margin: 0;
  text-shadow: 10px 10px 20px rgb(0, 0, 0, 0.3);
  animation:slideUp 2s ease-in-out forwards;
}

.title-description{
  position:relative;
  top:-80px;
  font-size: 3rem;
  width: 100vw;
  font-weight: 300; 
  text-shadow: 5px 5px 8px rgb(0, 0, 0, 0.5);
  margin-top: 10px;
  overflow: hidden;
  text-wrap: nowrap;
  animation:slideDown 2s ease-in-out forwards;
}

.card-content {
  flex: 1 1 auto;
  padding: 25px;
  text-align: center;
  transition: top .3s ease;
}

.card-category {
  font-size: 24px;
  color: #000;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: 2px 2px 20px rgba(255, 255, 255, 1);
}

.card-heading {
  color:#000 ;
  font-size: 16px;
  font-weight: 400;
  text-shadow: 2px 2px 20px rgba(255, 255, 255, 1);
}

.card:not(:hover) {
  transform: scale(0.95);
  transition: transform .3s ease;
}

.card-background:hover, .card:hover {
  transform: scale(1.05);
}

@keyframes slideUp {
    0% {
        top: 160px;
    }
    100% {
        top: 0px;
    }
}

@keyframes slideDown {
    0% {
        top: -80px;
    }
    100% {
        top: 0px;
    }
}
